/* global */
:root {
    --primary-color:#b99470;
    --secondery-color:#F9EBC7;
}
body,html {
    margin:0;
    height: 100%;
}
h1,h2,h3 ,p{
    margin:0
}
a {
    text-decoration: none;
    color:#000
}
section {
    margin-top: 100px;
}
.section-title {
    text-align:right;
    border-right: 4px solid  var(--primary-color);
    margin-right: 5%;
}

/* header */
.navbar {
    background-color:var(--primary-color) !important;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 500;
}
#navbarSupportedContent {
    justify-content:flex-end!important;
    text-align: right;
}

/* work */
.work .small-work {
    display:none;
}
.work  .card {
    padding:0 !important
}
.work  .card img {
    width:100%;
    height:220px;
}
.work  .card .card-body {
    background-color: var(--secondery-color);
}
.work .btn {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color) !important;
    margin-top: 10px;
}
.work a {
    transition: all .3s;
}
.work a:hover {
    box-shadow: var(--bs-box-shadow-lg ) !important
}
.work .row-padding {
    padding-bottom: 20px;
}
/* shills */
.skills .flex-holder {
    display:flex !important;
    align-items: center;
    gap:5px;
    transition: all .5s;
    
}
.skills .flex-holder:hover {
    color:var(--primary-color);
}

/* contact me */
.contact .space {
    gap:8px;
}

/* footer */
footer {
    background-color: var(--secondery-color);
    text-align: center;
    padding:15px 0;
    margin-top:100px;
}
footer a {
    transition: all .3s;
}
footer a:hover {
    box-shadow: var(--bs-box-shadow-lg);
    font-weight: bold;
}
@media only screen and (max-width:992px) {
    .work  .card img {
        width:100%;
        height:180px;
    }
    .row-padding{
        padding:10px !important
    }
    .contact h2 {
       font-size: 28px !important;
    }
    .contact .space {
        font-size: 18px !important;
    }
   
}
@media only screen and (max-width:768px) {
    .work .normal-work {
        display:none
    }
    .work .small-work {
        display:flex;
    }
    .contact h2 {
        font-size: 21px !important;
     }
     .contact .space {
         font-size: 14px !important;
     }
}